title=title
link(type="text/css",rel="stylesheet",href="stylesheets/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="stylesheets/style.css")
script(src='https://use.edgefonts.net/lobster-two.js')