html
    head
     include partials/head.jade
    body
     include partials/menu.jade
     br
     br
     include partials/headline.jade
     br
    .container
        .row
            .col-md-12
                .thumbnail
                 img(src='images/city.jpg', alt='iLoveMyCity')
     include partials/jsIncludes.jade